#######################
#  Root
#######################
.DS_Store


#######################
#  cms-client
#######################

# OSX
#
cms-client/.DS_Store

# Xcode
#
cms-client/build/
cms-client/*.pbxuser
cms-client/!default.pbxuser
cms-client/*.mode1v3
cms-client/!default.mode1v3
cms-client/*.mode2v3
cms-client/!default.mode2v3
cms-client/*.perspectivev3
cms-client/!default.perspectivev3
cms-client/xcuserdata
cms-client/*.xccheckout
cms-client/*.moved-aside
cms-client/DerivedData
cms-client/*.hmap
cms-client/*.ipa
cms-client/*.xcuserstate
cms-client/ios/.xcode.env.local

# Android/IntelliJ
#
cms-client/build/
cms-client/.idea
cms-client/.gradle
cms-client/local.properties
cms-client/*.iml
cms-client/*.hprof
cms-client/.cxx/
cms-client/*.keystore
cms-client/!debug.keystore

# node.js
#
cms-client/node_modules/
cms-client/npm-debug.log
cms-client/yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

cms-client/**/fastlane/report.xml
cms-client/**/fastlane/Preview.html
cms-client/**/fastlane/screenshots
cms-client/**/fastlane/test_output

# Bundle artifact
cms-client/*.jsbundle

# Ruby / CocoaPods
cms-client/ios/Pods/
cms-client/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
cms-client/.metro-health-check*

# testing
cms-client/coverage


#######################
#  cms-server
#######################

# Ignore node_modules
cms-server/node_modules/

# Ignore logs and other generated files
cms-server/logs/
cms-server/*.log
cms-server/npm-debug.log*

# Ignore environment-specific files
cms-server/.env
cms-server/.env.local
cms-server/.env.development.local
cms-server/.env.test.local
cms-server/.env.production.local

# Ignore macOS system files
cms-server/.DS_Store

# Ignore files generated by editors or IDEs
cms-server/.vscode/
cms-server/.idea/

# Ignore OS generated files
cms-server/Thumbs.db
cms-server/.DS_Store

# Ignore dependencies
cms-server/package-lock.json

#######################
#  CMSScripts
#######################
