#######################
#  Root
#######################
.DS_Store


#######################
#  CMSApp
#######################

# OSX
#
CMSApp/.DS_Store

# Xcode
#
CMSApp/build/
CMSApp/*.pbxuser
CMSApp/!default.pbxuser
CMSApp/*.mode1v3
CMSApp/!default.mode1v3
CMSApp/*.mode2v3
CMSApp/!default.mode2v3
CMSApp/*.perspectivev3
CMSApp/!default.perspectivev3
CMSApp/xcuserdata
CMSApp/*.xccheckout
CMSApp/*.moved-aside
CMSApp/DerivedData
CMSApp/*.hmap
CMSApp/*.ipa
CMSApp/*.xcuserstate
CMSApp/ios/.xcode.env.local

# Android/IntelliJ
#
CMSApp/build/
CMSApp/.idea
CMSApp/.gradle
CMSApp/local.properties
CMSApp/*.iml
CMSApp/*.hprof
CMSApp/.cxx/
CMSApp/*.keystore
CMSApp/!debug.keystore

# node.js
#
CMSApp/node_modules/
CMSApp/npm-debug.log
CMSApp/yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

CMSApp/**/fastlane/report.xml
CMSApp/**/fastlane/Preview.html
CMSApp/**/fastlane/screenshots
CMSApp/**/fastlane/test_output

# Bundle artifact
CMSApp/*.jsbundle

# Ruby / CocoaPods
CMSApp/ios/Pods/
CMSApp/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
CMSApp/.metro-health-check*

# testing
CMSApp/coverage


#######################
#  CMSServer
#######################

# Ignore node_modules
CMSServer/node_modules/

# Ignore logs and other generated files
CMSServer/logs/
CMSServer/*.log
CMSServer/npm-debug.log*

# Ignore environment-specific files
CMSServer/.env
CMSServer/.env.local
CMSServer/.env.development.local
CMSServer/.env.test.local
CMSServer/.env.production.local

# Ignore macOS system files
CMSServer/.DS_Store

# Ignore files generated by editors or IDEs
CMSServer/.vscode/
CMSServer/.idea/

# Ignore OS generated files
CMSServer/Thumbs.db
CMSServer/.DS_Store

# Ignore dependencies
CMSServer/package-lock.json

#######################
#  CMSScripts
#######################
